{
    "plugins": ["@babel/plugin-proposal-object-rest-spread"],
    "presets": ["@babel/preset-env"],
    "env": {
        "test": {
            "plugins": ["@istanbuljs/nyc-config-babel"]
        }
    }
}
