{
  "include": ["src/**/*.js"],
  "exclude": ["src/**/*.spec.js"],
  "reporter": ["lcov", "text-summary"],
  "require": ["@babel/register"],
  "sourceMap": false,
  "instrument": true,
  "cache": true,
  "all": true
}
